main {
  margin: 1rem 2rem;
  background-color: var(--w);

  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1.5rem 1rem;
}

/* header */
.header h2 {
  font-size: 3.2rem;
}

hr {
  color: var(--s);
}

/* promo */

.promo {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.promo h3 {
  font-size: 1.6rem;
}

.promo .buttons {
  display: flex;
  gap: 2rem;
}
.buttons a {
  padding: 1rem 2.8rem;
  font-size: 1.6rem;
}

.buttons a:first-child {
  border: 1px solid var(--tc);
  border-radius: 8px;
  color: var(--tc);
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.buttons a:first-child:hover,
.buttons a:first-child:active {
  border: 1px solid var(--pb);
  border-radius: 8px;
  color: var(--w);
  background-color: var(--pb);
}

.buttons a:nth-child(2):hover,
.buttons a:nth-child(2):active {
  border: 1px solid var(--pc);
  border-radius: 8px;
  color: var(--pc);
  background-color: transparent;
}

/* prices */

.prices {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 1rem;
}

.price {
  display: flex;
  justify-content: space-between;
}

.price p {
  font-size: 1.6rem;
}

/* total */

.totals {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 4rem;
}

.tops {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4rems;
}

.tops h2 {
  font-size: 2.4rem;
}

.btn-container {
  display: flex;
  align-items: center;
  gap: -1rem;
  justify-content: center;
  margin-top: 2rem;
  visibility: visible;
}

.btn-container #del:first-child {
  text-align: center;
  color: var(--w);
  padding: 2rem auto;
  border: none;
  border-radius: 6px;
  background-color: var(--pc);
  cursor: pointer;
}

.btn-container #del:nth-child(2) {
  text-align: center;
  color: var(--w);
  padding: 2rem 2rem;
  border: none;
  border-radius: 6px;
  background-color: var(--s);
  cursor: pointer;
}

.specials {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 2rem;
}
.specials h2 {
  font-size: 1.6rem;
}

.specials .text {
  width: 300px;
  height: 150px;
}

.specials a {
  padding: 2rem;
  text-align: center;
}

@media (min-width: 768px) {
  .buttons #bbt {
    padding: 2rem 10rem;
    white-space: nowrap;
  }
  .specials .text {
    width: 700px;
    height: 150px;
  }
}

/* 1024 */
@media (min-width: 1280px) {
  main {
    margin: 2rem 4rem;
    background-color: var(--w);

    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1.5rem 1rem;
  }

  .buttons #bbt {
    padding: 2rem 20rem;
  }
  #del {
    text-align: center;
    color: var(--w);
    padding: 2rem 20rem;
    border: none;
    border-radius: 6px;
    background-color: var(--pc);
    cursor: pointer;
  }

  .btn-container #del:nth-child(2) {
    text-align: center;
    color: var(--w);
    padding: 2rem 20rem;
    border: none;
    border-radius: 6px;
    background-color: var(--s);
    cursor: pointer;
  }

  .specials .text {
    width: 100%;
    height: 150px;
  }
}

/* 1440 */
@media (min-width: 1440px) {
}

/* 1800 */
@media (min-width: 1800px) {
  main {
    margin: 2rem 10rem;
    background-color: var(--w);

    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1.5rem 1rem;
  }
}
