main {
  padding: 2rem;
}

.order-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.order-card {
  display: flex;
  gap: 1rem;
  padding: 1rem 0.5rem;
  background-color: white;
}
.left {
  flex: 1;
}
.left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.right {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex: 2;
}

.start {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
}

.start h3 {
  font-size: 1.6rem;
}

.start p {
  font-size: 1.2rem;
}

.middle {
  display: flex;
  justify-content: space-between;
}

.middle a {
  padding: 0.5rem;
  background-color: var(--s);
}

.middle a i {
  color: var(--tc);
}
.middle p {
  font-size: 2rem;
}

.end {
  display: flex;
  justify-content: space-between;
}

.end p {
  color: var(--pc);
  font-size: 1.6rem;
}

.end a {
  padding: 0.5rem;
  background-color: var(--tc);
}

.end a i {
  color: var(--w);
}

.more {
  color: var(--pb);
  font-size: 1.6rem;
  margin-top: 2rem;
  text-align: center;
}

@media (min-width: 768px) {
  .right {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    flex: 2;
  }
}

/* 1024 */
@media (min-width: 1280px) {
  main {
    justify-content: center;
    align-items: center;
    margin-top: 2rem auto;
    gap: 3rem;
  }
  .left img {
    width: 70%;
    height: 100%;
    object-fit: cover;
  }

  .right {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    flex: 2;
  }

  .start h3 {
    font-size: 3.2rem;
  }

  .start p {
    font-size: 2.4rem;
  }

  .middle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
  }

  .middle a {
    padding: 1rem;
    background-color: var(--s);
  }

  .middle a i {
    color: var(--tc);
  }
  .middle p {
    font-size: 4rem;
  }

  .end {
    display: flex;
    justify-content: space-between;
    gap: 4rem;
  }

  .end p {
    color: var(--pc);
    font-size: 1.6rem;
  }

  .end a {
    padding: 0.5rem;
    background-color: var(--tc);
  }

  .end a i {
    color: var(--w);
  }

  .more {
    color: var(--pb);
    font-size: 1.6rem;
    margin-top: 2rem;
    text-align: center;
    display: none;
  }
}

/* 1440 */
@media (min-width: 1440px) {
}

/* 1800 */
@media (min-width: 1800px) {
  main {
    padding: 3rem;
  }
}
