nav {
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 4rem;
}

/* links and buttons */
.nav-links,
.btn-container {
  display: none;
}

/* mobile sidebar */
.mobile-sidebar {
  display: block;
  position: fixed;
  top: 0;
  right: -100%;
  width: 75%;
  max-width: 320px;
  height: 100vh;
  background: var(--pc);
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  transition: right 0.3s ease;
  z-index: 1000;
}
.side-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: self-start;
  gap: 2rem;
}

.side-container li a {
  color: var(--tc);
}

.side-container li a:hover {
  background-color: var(--dgt);
  padding: 1rem 20rem 1rem 1rem;
  border-radius: 8px;
}

.side-container li a:hover {
  color: var(--pb);
}
.mobile-sidebar.active {
  right: 0;
}

.close-sidebar {
  align-self: flex-end;
  background: none;
  border: none;
  font-size: 2.5rem;
  cursor: pointer;
}

/* desktop */
@media (min-width: 1024px) {
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 1rem 1rem 0.5rem;
  }

  .nav-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10em;
    cursor: pointer;
  }
  .btn-container {
    display: flex;
  }
  .btn-container a {
    padding: 2rem 6rem;
    background-color: var(--pc);
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.8s ease-in-out;
  }

  .btn-container a:hover,
  .btn-container a:active {
    background-color: var(--lo);
    padding: 1rem 5rem;
  }

  .mobile-btn,
  .mobile-sidebar {
    display: none;
  }

  .logo {
    font-size: 4.8rem;
    cursor: pointer;
  }

  .logo:hover,
  .logo:active {
    font-size: 2.4rem;
  }

  .nav-links li a {
    font-size: 2.4rem;
    color: var(--tc);
  }

  .nav-links li a:hover {
    font-size: 3rem;
    color: var(--pc);
  }
}
