.on-container {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.on-img-box {
  width: 35rem;
  height: 20rem;
  /* padding: 0rem 2rem; */
  background-image: url("/assets/images/onboarding/img.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* container of contents */
.on-content-box {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

/* mobile logo / sigin in button */
.top {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 2rem;
  justify-content: center;
  align-items: flex-end;
}

#logo {
  order: 2;
  align-self: center;
}

#signIn-btn {
  display: inline-block;
  padding: 1rem 2rem;
  width: 10rem;
  font-size: 1.6rem;
  font-weight: 700;
  order: 1;
}

/* header & subheader */
.text-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1rem;
}

.text-container h2 {
  font-size: 3.2rem;
}

.text-container p {
  font-size: 1.6rem;
}

/* box features  */
.box-features {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 3.7rem;
}

.card {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
  padding: 1rem 4rem 1rem 1rem;
  background-color: #bdbdbd21;
  border-radius: 0.8rem;
}

.card p {
  font-size: 1.6rem;
  font-weight: 500;
  align-self: center;
}

/* tab */
@media (min-width: 768px) {
}

/* 1024 */
@media (min-width: 1280px) {
}

/* 1440 */
@media (min-width: 1440px) {
}

/* 1800 */
@media (min-width: 1800px) {
}
