* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  color: var(--tc);
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

a {
  text-decoration: none;
}

li {
  font-size: var(--fs3);
}

p {
  font-weight: 300;
}

h2 {
  font-size: 3.2rem;
}

h1 {
  font-size: 4.8rem;
}

h1,
h2 {
  font-weight: 700;
}

small {
  font-size: 1.2rem;
  font-weight: 300;
}
