/* variables for reuseability */

:root {
  /* color */
  --pc: #ff7a18;
  --tc: #1f2937;
  --w: #ffffff;
  --so: #ffb066;
  --lo: #ffe1c4;
  --pb: #1e88e5;
  --sb: #64b5f6;
  --lb: #e3f2fd;
  --sg: #f3f4f6;
  --dgt: #4b5563;
  --s: #bdbdbd;
  --e: #ff383c;

  --ff1: "Inter", sans-serif;
  --ff2: "Island Moments", cursive;
}
