header {
  background-image:
    linear-gradient(rgba(32, 29, 24, 0.603), rgba(10, 8, 5, 0.384)),
    url("/assets/images/home/Welcome.png");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;

  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 2rem;
}
/* hero content  */
.hero-container h1 {
  color: var(--w);
  font-size: 3.2rem;
  transition: 0.5s ease-in-out;
}

.hero-container p {
  color: var(--w);
  font-size: 1.6rem;
  transition: 0.5s ease-in-out;
}

.hero-container h1:hover,
.hero-container h1:active {
  transform: scale(1.08);
}

.hero-container p:hover,
.hero-container p:active {
  transform: scale(1.08);
}

/* tab */
@media (min-width: 768px) {
  header {
    padding: 2rem 3rem;
    justify-content: flex-start;
  }

  .hero-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3rem;
  }

  /* hero content  */
  .hero-container h1 {
    font-size: 4rem;
  }

  .hero-container p {
    font-size: 3em;
    font-weight: 500;
    max-width: 30ch;
  }
}

/* 1024 */
@media (min-width: 1280px) {
  .hero-container {
    gap: 4.2rem;
  }

  /* hero content  */
  .hero-container h1 {
    font-size: 4.8rem;
    max-width: 20ch;
  }

  .hero-container p {
    font-size: 3.2rem;
    font-weight: 500;
  }
}

/* 1440 */
@media (min-width: 1440px) {
}

/* 1800 */
@media (min-width: 1800px) {
  header {
    padding: 2rem 8rem;
    justify-content: flex-start;
  }
}
