header {
  background-image:
    linear-gradient(rgba(32, 29, 24, 0.603), rgba(10, 8, 5, 0.384)),
    url("/assets/images/home/Welcome.png");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;

  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
}
/* hero content  */
.hero-container h1 {
  color: var(--w);
  font-size: 3.2rem;
}

.hero-container p {
  color: var(--w);
  font-size: 1.6rem;
  white-space: nowrap;
}

.hero-container a {
  padding: 2rem 4rem;
  display: inline-block;
  font-size: 1.6rem;
  cursor: pointer;
  transition: background-color 0.5s ease-in-out;
}

.hero-container a:hover,
.hero-container a:active {
  background-color: transparent;
  border: 1px solid var(--pc);
  color: var(--pc);
}

/* tab */
@media (min-width: 768px) {
  header {
    padding: 2rem 3rem;
    justify-content: flex-start;
  }

  .hero-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3rem;
  }

  /* hero content  */
  .hero-container h1 {
    font-size: 4rem;
  }

  .hero-container p {
    font-size: 3em;
    font-weight: 500;
    white-space: nowrap;
  }

  .hero-container a {
    padding: 2rem 4rem;
    display: inline-block;
    font-size: 1.6rem;
    cursor: pointer;
    transition: background-color 0.5s ease-in-out;
  }
}

/* 1024 */
@media (min-width: 1280px) {
  .hero-container {
    gap: 4.2rem;
  }

  /* hero content  */
  .hero-container h1 {
    font-size: 4.8rem;
    max-width: 20ch;
  }

  .hero-container p {
    font-size: 3.2rem;
    font-weight: 500;
    white-space: nowrap;
  }

  .hero-container a {
    padding: 2rem 4rem;
    display: inline-block;
    font-size: 1.6rem;
    cursor: pointer;
    transition: background-color 0.5s ease-in-out;
  }
}

/* 1440 */
@media (min-width: 1440px) {
}

/* 1800 */
@media (min-width: 1800px) {
  header {
    padding: 2rem 8rem;
    justify-content: flex-start;
  }
}

/*search */
.search-container {
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

form {
  position: relative;
  top: -5rem;
}

input {
  padding: 1.5rem 7rem;
  border-radius: 10px;
  border: none;
  background: white;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.6);
}

input::placeholder {
  text-align: left;
  font-size: 1.6rem;
}

#search {
  position: absolute;
  font-size: 1.6rem;
  top: 2rem;
  left: 1.4rem;
}

@media (min-width: 768px) {
  input {
    padding: 1.5rem 11rem;
    align-items: left;
  }
}

input::placeholder {
  text-align: left;
  font-size: 2rem;
}

/* 1024 */
@media (min-width: 1280px) {
  input {
    padding: 1.5rem 16rem;
    align-items: left;
  }
}

/* 1440 */
@media (min-width: 1440px) {
}

/* 1800 */
@media (min-width: 1800px) {
  input {
    padding: 2rem 25rem;
    align-items: left;
  }

  #search {
    position: absolute;
    font-size: 2.4rem;
    top: 2.5rem;
    left: 1.4rem;
  }
}

/*  */
