<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>footer</title>

    <!-- cdn -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
      integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Island+Moments&display=swap"
      rel="stylesheet"
    />

    <!-- css -->
    <link rel="stylesheet" href="/css/utilities/utilities.css" />
    <link rel="stylesheet" href="/css/utilities/base.css" />
    <link rel="stylesheet" href="/css/utilities/variables.css" />

    <link rel="stylesheet" href="/components/css/footer.css" />
  </head>
  <body>
    <footer>
      <!-- container to hold footer text -->
      <div class="fot-container">
        <!-- each footer section -->
        <div class="fot_col_one">
          <ul>
            <li class="logo" id="fot_logo">Chucks Kitchen</li>
            <li>
              Bringing the authentic flavors of Nigerian home cooking to your
              table, with passion and care.
            </li>
          </ul>
        </div>

        <div class="fot_col">
          <ul>
            <li class="col-head">Quick Links</li>
            <li>Home</li>
            <li>Explore</li>
            <li>My Order</li>
            <li>Account</li>
            <li>Contact</li>
          </ul>
        </div>

        <div class="fot_col">
          <ul>
            <li class="col-head">Contact Us</li>
            <li>Home</li>
            <li>Explore</li>
            <li>My Order</li>
            <li>Account</li>
            <li>Contact</li>
          </ul>
        </div>

        <div class="fot_col">
          <ul class="last">
            <li>Facebook</li>
            <li>Twitter</li>
            <li>Linkedin</li>
            <li>Instagram</li>
          </ul>
        </div>
      </div>

      <!-- bottom section of the footer  -->
      <div class="fot-bottom">
        <p>© 2020 Lift Media. All rights reserved.</p>

        <div class="arrow-container">
          <i
            class="fa-solid fa-arrow-up fa-2xs"
            id="arrow"
            style="color: rgba(255, 255, 255, 1)"
          ></i>
        </div>
      </div>
    </footer>
    <!-- js -->
    <script src="/components/js/footer.js"></script>
  </body>
</html>
