main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.img-container {
  background-image: url("/assets/images/home/image 9.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
}

.content-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* top */
.top {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem 2rem;
  gap: 1rem;
}

.top a {
  padding: 1rem;
  background-color: black;
  border-radius: 1rem;
  align-self: flex-end;
}

a i {
  color: white;
}

.text-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.text-content h3 {
  font-size: 2.4rem;
  white-space: nowrap;
}
.price {
  color: var(--pc);
  font-size: 1.6rem;
  font-size: 600;
}

.details {
  font-size: 1.6rem;
  letter-spacing: -2%;
  font-weight: 500px;
}

.description-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}

.description {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  background-color: var(--s);
  padding: 0.8rem;
  border-radius: 1rem;
}

.description small {
  font-size: 1.6rem;
}

.description:nth-child(2) {
  color: var(--pb);
}

.description i {
  color: var(--pc);
  font-size: 1.6rem;
}

@media (min-width: 768px) {
}

/* 1024 */
@media (min-width: 1280px) {
  main {
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }

  .content-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: white;
    padding: 1rem;
    margin: 1rem 2rem;
  }

  .description-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    margin-top: 1rem;
  }
}

/* 1440 */
@media (min-width: 1440px) {
}

/* 1800 */
@media (min-width: 1800px) {
}

/* middle */
.middle {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
}

.middle h3 {
  font-size: 2.4rem;
}
.protein-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.protein-card {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  border: 1px solid var(--s);
  border-radius: 8px;
}

.left i {
  color: var(--pc);
  font-size: 1.6rem;
  font-weight: 500;
}

.left small,
.right small {
  font-size: 1.6rem;
  font-weight: 500;
}

/* middle two */

.middle-two {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
}

.middle-two h3 {
  font-size: 2.4rem;
}
.extra-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.extra-card {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  border: 1px solid var(--s);
  border-radius: 8px;
}

.e-left i {
  color: var(--s);
  font-size: 1.6rem;
  font-weight: 500;
}

.e-left small,
.e-right small {
  font-size: 1.6rem;
  font-weight: 500;
}

/* bottom */

.bottom {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.bottom h3 {
  font-size: 2.4rem;
}

#instruction {
  width: 320px;
  height: 200px;
}

@media (min-width: 768px) {
  #instruction {
    width: 80%;
    height: 200px;
  }
}

/* 1024 */
@media (min-width: 1280px) {
  #instruction {
    width: 100%;
    height: 100px;
  }
}

/* 1440 */
@media (min-width: 1440px) {
}

/* 1800 */
@media (min-width: 1800px) {
}
